<div ng-controller="myCtrl" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between" style="text-align: center;">
  <div fxFlex="10vh"></div>
  <div fxFlex="auto">
    <img src="assets/img/logo.svg" style="outline: 0; max-width: 80%; height: auto;">
  </div>
  <div fxFlex="10vh"></div>
  <div fxFlex="auto">
    <h3 class="subheading-2">Find the classes you need.</h3>
  </div>
  <div fxFlex="auto">
    <mat-form-field style="min-width: 25%;">
      <input matInput placeholder="Enter Your Student ID to get Started" required #uid>
    </mat-form-field>
  </div>
  <div fxFlex="auto">
    <a style="color: #ffffff;" href="{{dashboardlink}}"><button mat-button style="min-width: 25%;" (click)="goSignin(uid.value)">Sign In <mat-icon>arrow_forward</mat-icon></button></a>
  </div>
</div>
