<mat-sidenav-container class="full-screen">
  <mat-sidenav style="width: 156px;" #sidenav mode="side" disableClose="true" opened="true">
    <mat-toolbar style="text-align: center;">
      <img src="assets/img/logo.svg" style="max-width: 100%; height: auto;">
    </mat-toolbar>
    <!-- Menu Content Begins Here -->
    <a href="/" style="color: #ffffff;"><button mat-button style="min-width: 100%;"><mat-icon>power_settings_new</mat-icon><br>Sign Out</button></a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="column" fxLayoutGap="20px" style="margin: 16px;">
      <!-- Main Content Begins Here -->
      <div fxFlex="auto">
        <mat-card>
          <mat-card-content>
            <h3 class="mat-display-2">Your Booked Courses (UserID: {{myID}})</h3>
            <table>
              <tr>
                <th>Course Numbers</th>
              </tr>
              <tr id="myClassesTable">
                {{allClassesFormatted}}
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="auto">
        <mat-card>
        <mat-card-content>
          <h4 class="mat-display-1">Search for Class</h4>
          <h5 class="caption">Please enter full title of the course.</h5>
          <mat-form-field>
            <input id="searchclassID" matInput placeholder="Course Title">
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent" (click)="searchClass()">Search <mat-icon>search</mat-icon></button>
          <h3 id="searchMessage"></h3>
          <h3 id="searchResult"></h3>
        </mat-card-content>
      </mat-card>
      </div>
      <mat-card>
        <mat-card-content>
          <h4 class="mat-display-1">Book a Class</h4>
          <mat-form-field>
            <input id="bookclassID" matInput placeholder="Course Number">
          </mat-form-field>
          <br>
          <button mat-raised-button color="accent" (click)="bookClass()">Book Course <mat-icon>add</mat-icon></button>
        </mat-card-content>
      </mat-card>
      <div fxFlex="auto">
        <mat-card>
          <mat-card-content>
            <h4 class="mat-display-1">Insert Class to Database</h4>
            <mat-form-field>
              <input id="className" matInput placeholder="Course Name">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input id="classID" matInput placeholder="Course Number">
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" (click)="addClass()">Add Class <mat-icon>add</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="auto">
        <mat-card>
          <mat-card-content>
            <h4 class="mat-display-1">Delete Class from Database</h4>
            <h5 class="caption">Warning: users already booked to a deleted course will remain booked.</h5>
            <mat-form-field>
              <input id="deleteClass" matInput placeholder="Class ID to Delete">
            </mat-form-field>&nbsp;
            <button mat-raised-button color="warn" (click)="deleteClass()">Delete <mat-icon>delete_forever</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="auto">
        <mat-card>
          <mat-card-content>
            <h4 class="mat-display-1">List of All Classes Available</h4>
            <button mat-raised-button color="accent" (click)="retrieveAllClasses()">Update/Refresh <mat-icon>refresh</mat-icon></button>
            <br><br>
            <table id="allClassesTable">
              <tr>
                <th>Database ID</th>
                <th>Class Name</th>
                <th>Class Number</th>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
