<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between center">
  <div fxFlex="auto">
    <h1 class="mat-display-4">404</h1>
  </div>
  <div fxFlex="auto">
    <h3 class="mat-display-2">The page you were looking for could not be found.</h3>
  </div>
  <div fxFlex="auto">
    <button routerLink="" mat-button style="min-width: 25%;">Go Home <mat-icon>home</mat-icon></button>
  </div>
</div>
